:root {
  --color-white: #fff;
  --time-animation: 0.6s;
 
}




@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

html {
  scrollbar-width: none;
  font-family: 'Quicksand', sans-serif;

}


a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden scroll;
  -ms-overflow-style: none;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur79.cur), auto;
  font-family: 'Gruppo', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

.layout {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.layout .section-stick {
  margin: auto;

  position: fixed;
  right: 50px;
  bottom: 50px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: flex-start;

  z-index: 1000;
}

.layout .section-stick .stick,
.layout .section-stick .active {
  width: 13px;
  height: 62px;
  border: none;
  border-radius: 9px;
}

.layout .section-stick .stick {
  position: relative;

  background-color: rgba(255, 255, 255, 0.4);
  transition: all var(--time-animation) ease-in-out;
}

.layout .section-stick .active {
  position: absolute;

  background-color: var(--color-white);
  box-shadow: 0px 0px 12px 1px var(--color-white);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.layout section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  font-size: 40px;
  font-weight: 600;
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 0;
}

.layout section .home {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  align-items: center;
  font-size: 28px;
  justify-content: center;
  margin-right: 100px;
  padding-left: 50px;
}

.link {
  color: white;
  text-decoration: none;
}

link:visited {
  color: white;
}

.layout section .home svg {
  animation: pulse 1.4s linear infinite normal;
}

.layout .s1 {
  background: linear-gradient(#04151F, #183A37);
  transform: translateY(0);
  z-index: 4;
  border-bottom: none;
  max-height: 100vh;
}

.layout .s2 {
  background:linear-gradient(#183A37, #A2666F);
  z-index: 3;
  max-height: 100vh;
}

.layout .s3 {
  background: linear-gradient(#A2666F,#C4A77D) ;
  z-index: 2;
  max-height: 100vh;
}

.layout .s4 {
  background: linear-gradient(#C4A77D,#483D3F);
  z-index: 2;
  max-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.layout .s5 {
  background: linear-gradient(#483D3F, #A7A2A9);
  max-height: 100vh;
}

.s4 img {
  height: 12rem;
  width: 20rem;
  border: 5px ridge rgb(136, 131, 131);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.568));



}

#logo {
  transform: translatey(0px);
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);;
  animation: float 6s ease-in-out infinite;
  box-sizing: border-box;
  width: 100px;
  height: 60px;
  background-color: transparent;
  background: transparent;
}


.button {
  border-radius: 2px;
}

.button a {
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
  display: inline-block;  
}

.bi-github {
  color: white;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.layout .s5 {
  background-color: #F9C784;
  z-index: 1;
}

.containerProjects img:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), auto;
  transform: scale(1.3);
  position:relative;
  height: 100%;
  
}

.containerProjects {
  max-height:100%;








  
      
}
/*
.sliding-text {
  color: transparent;
  text-align: 0 1px 1px;
  -webkit-text-stroke: 2px #fff;
  text-shadow: none;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  
}

.sliding-text:hover {
  transform: scale(1.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
*/


.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h2 {
  font-size: 25px;
  font-weight: 500;
  color: rgb(74, 148, 144)
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;

}

.intro h2:hover {
  color: rgb(108, 179, 192);
  text-shadow: 0 0 5px #2d523b,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}



.s3 {
  height:50vh;
  box-sizing: border-box;
}
.wrapper{
  width: 10%;
  min-width: 600px;
  height: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 10%;
  
}
.container{
  width: 100%;
  padding: 30px 20px 20px;
  background-color: rgba(197, 170, 170, 0.404);
  border: 2px solid rgba(255,255,255,0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  height: 550px;
  position: absolute;
  top: 30%;
  font-size: 20px;
  
} 
.container *{

  color: black;
  font-weight: 200;
}
h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.skills:not(:last-child){
  margin-bottom: 20px;
}
.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;

  border: 2px solid #618091;

  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #808588;
 

}
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 90%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}
#js-bar{
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100%{
      width: 50%;
  }
}
#wordpress,
#bootstrap {
  animation: wordpress 2s forwards;
}
@keyframes wordpress{
  100%{
      width: 40%;
  }
} 

#appointment {
  font-family: 'Quicksand', sans-serif;
}
.cityMap {
  max-width: 650px;
  height: 500px;
  position: absolute;
  right: 4%;
  bottom: 20%;
  border-radius: 15px;
  z-index: 1;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(102, 90, 90, 0.404),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.cityMap:hover {
  scale: 0.8;
  border: 3px groove rgb(97, 115, 133);
}


#contactMe:hover {
  text-decoration: underline;
}
.cityText {
  font-size: 25px;
  color: rgba(15, 89, 102, 0.616);
  z-index: 5;
  position: absolute;
  bottom: 1px;
  right: 100px;
}

#gitHub:hover {
  transform: rotate(0.5turn);
}

.emailContainer {
  background-color: white;
  width: 100%;
  height: 50px;
}

.emailContainer:hover{
  transform: scaleY(0.9);
  background-color: #f2ecf3b2;
}
a:-webkit-any-link {
  color: black;
}
.contactContainer {
 height: 70vh;
 width: 50vh;
 padding: 30px;
}

.contactLeft {
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 25%;
  z-index: 3;
  position: absolute;
  bottom: 5%;
  left: 15%;
  padding: 90px 30px 40px 30px;
  background: rgba(186, 179, 179, 0.473);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(186, 179, 179, 0.74);
  height: 400px;
  width: 400px;


}

.containerSection2 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 170px 70px 250px;
  margin-top: 30px;
  font-size: 20px;
}

.containerS2left {
width: 50%;
padding-right: 100px;
}

.containerS2left img {
  width: 30rem;
  height: 50rem;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.containerS2right {
width: 30%;
font-size: 20px;
margin-bottom: 50px;
height: 200px;
}




.contactRight {
position: absolute;
bottom: 20%;
right: 5%;
z-index: 2;
}


.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 45px;
  color: black;
  padding-bottom: 30px;
  flex-wrap:wrap-reverse;
  max-height: 100vh;
}
 
@media screen and (max-width: 600px){
  .main {
   margin: 0;
  }
  img {

  }
}


.otherLetters{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);
	animation: letter 3s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}


.containerFooter{
  position: absolute;
  bottom: 1%;
  right: 50%;
  color: white;
}



/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur79.cur), auto !important;} /* End https://www.cursors-4u.com */
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1049.cur), auto} /* End https://www.cursors-4u.com */